
.top {
    font-family: 'Poppins';
    color: #000000;
    text-align: center;
    position: relative;
    height: 24px;
    max-width: 1440px;
    &-tittle {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        padding: 4px 0 3px 0;
    }
    &-location {
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        text-align: right;
        letter-spacing: 0.0833333px;
        position: absolute;
        right: 24px;
        top: 4px;
        cursor: pointer;
        .fa-location {
            background: url(./img/icon-location.svg) no-repeat center;
            height: 11px;
            width: 8px;
            display: inline-flex;
            vertical-align: middle;
            margin-right: 6px;
        }
    }
}
//проверить стили и блоки в фоновом изображении и масштабируемость
#slider-container,
#slider-inner {
    background-repeat: no-repeat;
    background-position: 67% center;
    background-size: cover;
    height: 657px;
}
.banner {
    &-layout {
        max-width: 1440px;
        margin: 0 auto;
    }
}
.header {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    height: 140px;
    &-gradient {
        width: 100%;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0.24) 14.31%, rgba(27, 27, 27, 0.12) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
    }
}
.header-mobile {
    display: none;
}
.menu-mobile {
    display: none;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px; 
    &__logo a span{
        font-weight: bold;
        font-size: 38px;
        line-height: 57px;
        letter-spacing: 0.95px;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
    &__search input {
        width: 584px;
        height: 48px;
        background: rgba(#F7F7F7, .24);
        border: none;
        border-radius: 3px;
        padding: 16px 16px 15px 16px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: #FFFFFF;
    }
    &__search form {
        position: relative;
    }
    &__search form button {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        .fa-search {
            background: url(./img/icon-seach-white.svg) no-repeat center;
            height: 17px;
            width: 17px;
        }
    }
    &__authorization {
        display: flex;
        align-items: center;
        a {
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 1px;
            color: #FFFFFF;
            .fa-basket {
                background: url(./img/icon-basket-white.svg) no-repeat center;
                height: 24px;
                width: 17px;
                display: inline-flex;
                vertical-align: middle;
                margin-left: 18px;
            }
        }
    }
}
.header-menu {
    &__nav {
        margin: 0 auto;
        max-width: 607px;
    }
    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__item a {
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    }
}
//focused in input searh
.header.focused {
    background-color: #FFFFFF;
    .header-gradient {
        background: transparent;
    }
    .header-top {
        &__logo a span{
            color: #333333;
            text-shadow: none;
        } 
        &__search input {
            background: #F7F7F7;
            color: #000000;
        }
        &__search form button {
            .fa-search {
                background: url(./img/icon-seacrh-black.svg) no-repeat center;
            }
        }
        &__authorization {
            a {
                color: #000000;
                .fa-basket {
                    background: url(./img/icon-basket-black.svg) no-repeat center;
                }
            }
        }
    }
    .header-menu {
        &__item a {
            color: #000000;
            text-shadow: none;
        }
    }
}
//focused in input searh end

.banner-content {
    margin-top: 180px;
    text-align: center;
    span {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 60px;
        line-height: 90px;
        color: #FFFFFF;
    }
}
.register {
    height: 146px;
    background: #FFFFFF;
    font-family: 'Poppins';
    &__layout {
        max-width: 439px;
        margin: 32px auto;
    }
    &__title span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.872727px;
        color: #000000;
    }
    &-form {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 14px;
        &__wrap {
            position: relative;
            input {
                height: 32px;
                width: 334px;
                border: 1px solid #E1E0E1;
                border-radius: 3px;
                padding: 8px 11px 7px 11px;
                &:focus + label {
                    display: none!important;
                  }
            }
        }
        &__wrap label {
            position: absolute;
            left: 11px;
            top: 8px;
            font-weight: normal;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.8px;
            color: #4A4A4A;
        }
    }
    &-btn {
        background: #000000;
        border-radius: 3px;
        border: none;
        width: 106px;
        height: 32px;
        margin-left: 12px;
        cursor: pointer;
        span {
            font-weight: 600;
            font-size: 10px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
.footer {
    padding-top: 26px;
    padding-bottom: 16px;
    background-color: #F7F7F7;
    &__layout {
        max-width: 891px;
        margin: 0 auto;
    }
    &__row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    &-title {
        font-family: 'Cormorant Garamond';
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.16364px;
        color: #000000;
        margin-bottom: 17px;
    }
    &-list {
        &__item {
            margin-bottom: 6px;
            a {
                font-family: 'Poppins';
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.1px;
                color: #000000;
            }
        }
        &__item.social-item {
            margin-bottom: 0;
            margin-right: 16px;
            &:last-child {
                margin-right: 0
            }
        }
    }
    &-list.social {
        display: flex;
        flex-wrap: nowrap;
    }
    &__bottom {
        text-align: center;
        p {
            font-family: 'Poppins';
            font-weight: normal;
            font-size: 9px;
            line-height: 13px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #000000;
        }
    }
}

// media
@media(max-width: 960px) {
    .header-top {
        &__logo a span {
            font-size: 32px;
        }
        &__search input {
            width: 328px;
        }
    }
    .banner-content {
        margin-top: 120px;
        span {
            font-size: 40px;
        }
    }
    .footer {
        &__layout {
            margin-right: 40px;
            margin-left: 40px;
        }
        &__row {
            position: relative;
            margin-bottom: 58px;
        }
        &-col:last-child {
            position: absolute;
            bottom: -46px;
            left: calc(50% - 70px);
            .footer-title {
                display: none;
            }
        }
    }
}

@media(max-width: 767px) {
    #slider-container, #slider-inner {
        height: 480px;
    }
    //mobile menu 
    .menu-mobile {
        &.menu-mobile__opened{
            display: block;
            background-color:  #FFFFFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 10000;
        }
        &__logo {
            margin-top: 24px;
            margin-bottom: 25px;
            text-align: center;
            position: relative;
            a span {
                font-family: 'Poppins';
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.95px;
                color: #333333;
            }
            .header-close-btn {
                background: url(./img/icon-close.svg) no-repeat center;
                height: 16px;
                width: 16px;
                display: inline-flex;
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
        &__layout {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 0 16px;
        }
        &__nav {
            margin-right: -16px;
            margin-left: -16px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            padding-left: -16px;
        }
        &__item {
            padding: 15px 16px;
            border-bottom: 1px solid #F7F7F7;
            position: relative;
            a {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                color: #000000;
            }
            span {
                position: absolute;
                right: 16px;
                top: 16px;
                cursor: pointer;
                .fa-arrow {
                    background: url(./img/icon-arrow.svg) no-repeat center;
                    height: 12px;
                    width: 7px;
                }
            }
        }
        &__item.first-list__opened {
            position: fixed;
            width: 100%;
            a {
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                padding: 13px 0 13px 40px;
            }
        }
        .menu-mobile__list-second {
            display: none;
        }
        &__item.second__opened .menu-mobile__list-second {
            display: block;
        }
        &__item.second__opened .header-item-btn {
            transform: rotate(90deg);
        }
        &__item-second {
            display: none;
        }
    }
    //mobile menu end
    //header mobile 
    .header-mobile {
        display: block;
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 22px 16px 0 16px;
        }
        &__menu-searh {
            display: flex;
            align-items: center;
            .menu-icon {
                content: '';
                background: #FFFFFF;
                height: 3px;
                width: 20px;
                display: inline-flex;
                position: relative;
                margin-bottom: 6px;
                margin-top: 6px;
                cursor: pointer;
                &::before {
                    content: '';
                    background: #FFFFFF;
                    height: 3px;
                    width: 20px;
                    display: block;
                    position: absolute;
                    top: -6px
                }
                &::after {
                    content: '';
                    background: #FFFFFF;
                    height: 3px;
                    width: 20px;
                    display: block;
                    position: absolute;
                    bottom: -6px
                }
            }
            .search-icon {
                display: inline-flex;
                margin-left: 16px;
                .fa-search {
                    background: url(./img/icon-seach-white.svg) no-repeat center;
                    height: 17px;
                    width: 17px;
                }
            }
        }
        &__logo {
            a span {
                font-family: 'Poppins';
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.95px;
                color: #FFFFFF;
            }
        }
    }
    .header.focused {
        .header-mobile {
            &__menu-searh {
                .menu-icon {
                    background: #000000;
                    &::before {
                        background: #000000;
                    }
                    &::after {
                        background: #000000;
                    }
                }
                .search-icon {
                    .fa-search {
                        display: none;
                    }
                }
                .close-icon {
                    display: inline-flex;
                    .fa-close {
                        background: url(./img/icon-close.svg) no-repeat center;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            &__logo {
                a span {
                    color: #000000;
                }
            }
        }
    }
     //header mobile end
    .header-top {
        margin: 17px 16px 15px 16px;
        .header-top__logo,
        .header-top__authorization {
            display: none;
        }
        .header-top__search {
            width: 100%;
            input {
                width: 100%;
                display: none;
            }
            .fa-search {
                display: none;
            }
        }
    }
    .header.focused {
        .header-top__search {
            input {
                display: block;
            }
            .fa-search {
                display: block;
            }
        }
    }

    .header-menu {
        display: none;
    }
    .banner-content span {
        display: none;
    }
    .register {
        height: auto;
        margin: 24px 16px;
        &__layout {
            margin: 0 auto;
        }
        &-form__wrap {
            width: 100%;
            input {
                width: 100%;
            }
        }
        &-btn {
            width: 104px;
            margin-left: 8px;
        }
    }
    .footer {
        padding-top: 4px;
        padding-bottom: 23px;
        &__layout {
            margin-right: 16px;
            margin-left: 16px;
        }
        &__row {
            flex-direction: column;
        }
        &-col {
            border-bottom: 1px solid #E1E0E1;
            &:last-child {
                border-bottom: none;
            }
        }
        &-col.foot__opened .footer-list {
            display: block;
        }
        &-title {
            padding: 12px 0;
            margin: 0;
            position: relative;
            .footer-item-btn {
                background: url(./img/icon-arrow.svg) no-repeat center;
                height: 12px;
                width: 7px;
                position: absolute;
                right: 16px;
                top: 16px;
                cursor: pointer;
            }
        }
        &-col.foot__opened .footer-item-btn {
            transform: rotate(90deg);
            right: 16px;
        }
        &-list {
            display: none;
        }
        &-list.opened {
            display: block;
            .footer-list__item {
                margin-bottom: 10px;
                &:first-child {
                    margin-top: 5px;
                }
            }
        }
    }
}
@media(max-width: 480px) {
}